<template>
  <div>
    <v-card>
      <v-card-title>{{$t('menu.newCard')}}</v-card-title>
      <v-card-subtitle v-if="$route.params.demoMode">{{$t('cardForm.welcomeMessage')}}</v-card-subtitle>
      <v-card-text>
        <v-textarea v-model="newItem.text" auto-grow clearable outlined autofocus></v-textarea>
        <v-text-field type="number" :label="$t('card.goalLabel')" v-model="newItem.goal"></v-text-field>
        <v-menu
          v-model="newItemDateMenu"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :value="newItem.date | formatDatePicker"
              :label="$t('card.dateStarted')"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="newItem.date" no-title @input="newItemDateMenu = false"></v-date-picker>
        </v-menu>
      </v-card-text>
      <v-divider class="mx-4"></v-divider>
      <v-card-actions>
        <v-btn
          fab
          color="amber"
          class="count-controls"
          @click.prevent="saveNewCard()"
          :title="$t('cardForm.save')"
        >
          <v-icon>mdi-check</v-icon>
        </v-btn>
        <v-btn
          fab
          color="amber"
          :title="$t('cardForm.cancel')"
          class="count-controls"
          to="/"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name:"CardItem",
  data() {
    return {
      newItem: {idx:0, text: null, goal: null, date: null },
      newItemDateMenu: false,
    };
  },
  methods:{
    saveNewCard() {
      if (this.newItem.text && this.newItem.text.trim() !== "") {
        if (!this.newItem.date) {
          this.newItem.date = new Date().toISOString().substr(0, 10);
        }
        if (!this.newItem.goal) {
          this.newItem.goal = 0;
        }

        let items = [];
        if (localStorage.cards && (!this.$route.params.demoMode)) {
            items = JSON.parse(localStorage.getItem("cards"));
        }
        
        this.newItem.idx = items.length;
        items.push({
          item: {
            idx: this.newItem.idx,
            date: this.newItem.date,
            text: this.newItem.text,
            goal: this.newItem.goal,
            count: 0
          }
        });
        localStorage.setItem("cards", JSON.stringify(items));
        this.$router.push({ name: "Home", params:{item:items.length-1}});
      }
    },
  }
};
</script>

<style>
</style>