<template>
  <div>
    <v-speed-dial v-model="fab" top direction="bottom" open-on-hover>
      <template v-slot:activator>
        <v-btn v-model="fab" color="amber" dark fab>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-pencil</v-icon>
        </v-btn>
      </template>
      <v-btn fab dark small color="green" :title="$t('menu.newCard')" to="/card-item">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="red"
        :title="$t('menu.removeCard')"
        @click.prevent="removeCard()"
      >
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </v-speed-dial>
    <v-snackbar v-model="displayUndoRemoveSnack" top>
      {{$t('messages.removedCard')}}
      <v-btn color="amber" text @click.prevent="undoRemoveCard()">{{$t('menu.undoRemovedCard')}}</v-btn>
      <v-btn
        color="pink"
        text
        @click.prevent="displayUndoRemoveSnack = false"
      >{{$t('app.actions.close')}}</v-btn>
    </v-snackbar>

    <v-alert
      id="importSuccessAlert"
      :value="allDone"
      type="success"
      prominent
      transition="scale-transition"
      elevation="15"
    >
      <h3 class="headline">{{$t('messages.allDone')}}</h3>
      <p>{{allDoneDate | formatDatePicker}}</p>
    </v-alert>

    <v-skeleton-loader :loading="loading" transition="scale-transition" type="card" elevation="2" v-if="!isItemsEmpty">
      <v-carousel :continuous="false" v-model="itemPosition" >
        <v-carousel-item v-for="(item, i) in items" :key="i">
          <v-card class="card" light>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title
                  class="headline mb-1"
                >{{$t('card.countTitle', {count: item.item.count})}}</v-list-item-title>
                <v-list-item-subtitle>{{item.item.date | formatDatePicker}} ({{cardDays}})</v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-avatar>
                <v-progress-circular
                  color="blue-grey"
                  :title="$t('card.goalLabel')"
                  :value="cardProgress"
                  :size="40"
                >{{item.item.goal}}</v-progress-circular>
              </v-list-item-avatar>
            </v-list-item>
            <v-divider class="mx-4"></v-divider>
            <v-card-text class="card-text">
              <div
                :class="cardTextFontSize"
                @click="increaseItemCount(item.item)"
              >{{item.item.text}}</div>
            </v-card-text>
            <v-card-actions class="card-footer">
              <v-bottom-navigation>
                <v-btn
                  :title="$t('card.countMinus')"
                  color="amber"
                  @click.prevent="decreaseItemCount(item.item)"
                >
                  <v-icon>mdi-minus</v-icon>
                </v-btn>
                <v-btn
                  :title="$t('card.countReset')"
                  color="amber"
                  @click.prevent="resetItemCount(item.item)"
                >
                  <v-icon>mdi-refresh</v-icon>
                </v-btn>
                <v-btn
                  :title="$t('card.countPlus')"
                  color="amber"
                  @click.prevent="increaseItemCount(item.item)"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </v-bottom-navigation>
            </v-card-actions>
          </v-card>
        </v-carousel-item>
      </v-carousel>
    </v-skeleton-loader>
    <web-content :locale="locale"></web-content>
  </div>
</template>

<script>
import WebContent from "../components/WebContent";

export default {
  name: "Home",
  components: {
    WebContent
  },
  data() {
    return {
      fab: false,
      trashItem: null,
      itemPosition: 0,
      displayUndoRemoveSnack: false,
      loading: false,
      locale: this.$i18n.locale,
      items: [],
      allDoneDate: localStorage.getItem("allDoneDate"),
      cardTextFontSize:
        localStorage.getItem("cardTextFontSize") || "card-text-font-size-1",
      demoMode:false
    };
  },
  mounted() {
    if (localStorage.cards) {
      this.items = JSON.parse(localStorage.getItem("cards"));
    }
    if (this.isItemsEmpty){
      this.buildDemoItems();
    }
    const itemParam = this.$route.params.item;
    if (itemParam && this.items && itemParam <= this.items.length-1){
      this.itemPosition = itemParam;
    }
  },
  computed: {
    currentItem(){
      if ((this.items) && (this.items.length > 0) && (this.itemPosition != undefined)) {
        if (this.itemPosition > this.items.length-1) {
          return this.items[this.items.length-1].item;
        }
        return this.items[this.itemPosition].item;
      }
      return null;
    },
    cardDays() {
      const item = this.currentItem;
      if (item && item.date) {
        const diffInTime = new Date().getTime() - new Date(item.date).getTime();
        const diffInDays = diffInTime / (1000 * 3600 * 24);
        if (diffInDays >= 0) {
          return Math.floor(diffInDays) + " " + this.$t("card.days");
        }
      }
      return "0";
    },
    cardProgress() {
      const item = this.currentItem;
      if (item && item.goal && item.goal > 0) {
        return (item.count * 100) / item.goal;
      }
      return 0;
    },
    allDone() {
      if (this.items && this.items.length) {
        let sumGoal = 0;
        let sumDone = 0;
        this.items.forEach(item => {
          sumGoal += parseInt(item.item.goal);
          sumDone += parseInt(item.item.count);
        });
        return sumDone > 0 && sumGoal > 0 && sumDone >= sumGoal;
      }
      return false;
    },
    isItemsEmpty() {
      return (!this.items) || (this.items.length === 0);
    }
  },
  watch: {
    trashItem: function(value) {
      this.displayUndoRemoveSnack = value != null;
    },
    allDoneDate: function(value) {
      localStorage.setItem("allDoneDate", value);
    }
  },
  methods: {
    persistCards() {
      localStorage.setItem("cards", JSON.stringify(this.items));
    },
    decreaseItemCount(item) {
      if (item.count > 0) {
        item.count -= 1;
        this.persistCards();
      }
    },
    resetItemCount(item) {
      item.count = 0;
      this.persistCards();
    },
    increaseItemCount(item) {
      item.count += 1;
      this.persistCards();
      if (this.allDone) {
        this.allDoneDate = new Date().toISOString().substr(0, 10);
        this.$confetti.start({
          defaultSize: 10,
          particles: [
            {
              type: "heart"
            },
            {
              type: "circle"
            }
          ]
        });
        setTimeout(() => {
          this.$confetti.stop();
          if (this.demoMode){
            this.$router.push({name:"CardItem", params:{demoMode: this.demoMode}});
          }
        }, 3000);
      } else if (item.count == item.goal) {
        this.$swal({
          icon: "success",
          animation: true,
          showConfirmButton: true,
          confirmButtonText: this.$t("card.nextCard"),
          confirmButtonColor: "#607d8b",
          reverseButtons: true,
          showCancelButton: true,
          cancelButtonText: this.$t("app.actions.close"),
          preConfirm: () => {
            this.itemPosition++;
          }
        });
      }
    },
    cancelCreateCard() {
      if (this.items.length === 0) {
        this.newItem.text = "";
      }
    },
    removeCard() {
      let item = this.currentItem;
      if (item){
        this.trashItem = {
          idx: item.idx,
          date: item.date,
          text: item.text,
          goal: item.goal,
          count: item.count
        };
        this.items.splice(this.itemPosition, 1);
        this.reindex();
        if (this.itemPosition > 0) {
          this.itemPosition--;
        }
        this.persistCards();
      }
    },
    reindex() {
      let idx = 0;
      this.items.forEach(element => {
        element.item.idx = idx++;
      });
    },
    undoRemoveCard() {
      this.items.splice(this.trashItem.idx, 0, {
        item: {
          idx: this.trashItem.idx,
          date: this.trashItem.date,
          text: this.trashItem.text,
          goal: this.trashItem.goal,
          count: this.trashItem.count
        }
      });
      this.reindex();
      this.persistCards();
      this.itemPosition = this.trashItem.idx;
      this.trashItem = null;
    },
    shareCard() {
      if (navigator.share) {
        navigator
          .share({
            title: this.$t("app.title"),
            text: this.items[this.reorderItemPosition].item.text,
            url: document.querySelector("link[rel=canonical]")
              ? document.querySelector("link[rel=canonical]").href
              : document.location.href
          })
          .then(() => console.log("Successful share"))
          .catch(error => console.log("Error sharing", error));
      } else {
        console.log("No navigator.share");
      }
    },
    buildDemoItems() {
      this.items.push({
          item: {
            idx: 0,
            date: new Date().toISOString().substr(0, 10),
            text: this.$t("demoItems.demoItem1"),
            goal: 3,
            count: 0
          }},
          {item: {
            idx: 1,
            date: new Date().toISOString().substr(0, 10),
            text: this.$t("demoItems.demoItem2"),
            goal: 2,
            count: 0
          }
        });
      this.demoMode = true;
    }
  }
};
</script>

<style scoped>
.card {
  top: 1em;
  left: 4em;
  right: 4em;
  bottom: 4em;
  position: absolute;
  padding-right: 0.5em;
}

.card-text {
  overflow-x: auto;
  max-height: 20em;
  white-space: pre-line;
  color: black;
}

.card-footer {
  bottom: 0;
  left: 1em;
  right: 1em;
  position: absolute;
}

.count-controls {
  margin: 0.5em;
}

.count-number {
  text-align: right;
  font-size: xx-large;
  width: 3em;
}
</style>
