<template>
  <div>
    <v-card>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="headline mb-1">{{$t('backupImport.title')}}</v-list-item-title>
          <v-list-item-subtitle>{{$t('backupImport.subtitle')}}</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-avatar>
          <v-icon>mdi-database-import</v-icon>
        </v-list-item-avatar>
      </v-list-item>
      <v-divider class="mx-4"></v-divider>
      <v-card-text>
        <v-file-input
          :label="$t('menu.importCards')"
          prepend-icon
          accept="text/plain"
          dense
          v-model="importFile"
        ></v-file-input>
        <v-btn
          fab
          color="amber"
          @click.prevent="importFromFile()"
          :title="$t('cardForm.save')"
        >
          <v-icon>mdi-check</v-icon>
        </v-btn>
        <v-btn fab color="amber" :title="$t('cardForm.cancel')" to="/">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [],
      importFile: null
    };
  },
  methods: {
    importFromFile() {
      if (this.importFile) {
        try {
          this.loading = true;
          let itemsStr;
          let reader = new FileReader();
          let vm = this;
          reader.onload = (function(reader) {
            return function() {
              itemsStr = window.atob(reader.result);
              vm.items = JSON.parse(itemsStr);
              vm.persistCards();
              vm.$swal({
                icon: "success",
                text: vm.$t("backupImport.importSuccess"),
                animation: true,
                confirmButtonText: vm.$t("app.actions.close"),
                confirmButtonColor: "#607d8b"
              });
              this.$router.push("/");
            };
          })(reader);
          reader.readAsText(this.importFile);
          this.importFile = null;
        } catch (e) {
          console.error(e);
          this.$swal({
            icon: "error",
            text: this.$t("backupImport.importError"),
            animation: true,
            confirmButtonText: this.$t("app.actions.close"),
            confirmButtonColor: "#607d8b"
          });
          this.loading = false;
        }
      } else {
        this.$swal({
          icon: "warning",
          text: this.$t("backupImport.subtitle"),
          animation: true,
          showConfirmButton: true,
          confirmButtonColor: "#607d8b",
        });
      }
    },
    persistCards() {
      localStorage.setItem("cards", JSON.stringify(this.items));
    }
  }
};
</script>

<style scoped>
</style>