<template>
  <div>
    <v-card>
      <v-card-title>{{$t('menu.reorderCards')}}</v-card-title>
      <v-divider class="mx-4"></v-divider>
      <v-card-text class="card-text">
        <v-list shaped>
          <v-list-item-group v-model="reorderItemPosition" color="secondary">
            <v-list-item v-for="(item, i) in items" :key="i">
              <v-list-item-icon>
                <v-icon>mdi-microsoft-xbox-controller-menu</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title v-text="item.item.text.substring(0,150)"></v-list-item-title>
              </v-list-item-content>
              <v-list-item-avatar>
                <h1>{{item.item.idx+1}}</h1>
              </v-list-item-avatar>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card-text>
      <v-card-actions>
        <v-bottom-navigation>
          <v-btn :title="$t('cardReordering.sendUp')" color="amber" @click.prevent="sendCardUp()">
            <v-icon>mdi-arrow-up-thick</v-icon>
          </v-btn>
          <v-btn :title="$t('app.actions.close')" color="amber" to="/">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-btn
            :title="$t('cardReordering.sendDown')"
            color="amber"
            @click.prevent="sendCardDown()"
          >
            <v-icon>mdi-arrow-down-thick</v-icon>
          </v-btn>
        </v-bottom-navigation>
      </v-card-actions>
    </v-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      items: [],
      reorderItemPosition: null
    };
  },
  mounted() {
    if (localStorage.cards) {
      this.items = JSON.parse(localStorage.getItem("cards"));
    }
  },
  methods: {
    persistCards() {
      localStorage.setItem("cards", JSON.stringify(this.items));
    },
    sendCardDown() {
      let item = this.items[this.reorderItemPosition].item;
      if (item.idx < this.items.length - 1) {
        this.moveItem(this.items, item.idx, item.idx + 1);
        this.reindex();
        this.persistCards();
        this.reorderItemPosition = item.idx;
      }
    },
    sendCardUp() {
      let item = this.items[this.reorderItemPosition].item;
      if (item.idx > 0) {
        this.moveItem(this.items, item.idx, item.idx - 1);
        this.reindex();
        this.persistCards();
        this.reorderItemPosition = item.idx;
      }
    },
    reindex() {
      let idx = 0;
      this.items.forEach(element => {
        element.item.idx = idx++;
      });
    },
    moveItem(arr, old_index, new_index) {
      while (old_index < 0) {
        old_index += arr.length;
      }
      while (new_index < 0) {
        new_index += arr.length;
      }
      if (new_index >= arr.length) {
        let k = new_index - arr.length;
        while (k-- + 1) {
          arr.push(undefined);
        }
      }
      arr.splice(new_index, 0, arr.splice(old_index, 1)[0]);
      return arr;
    }
  }
};
</script>