<template>
  <div>
    <h1>Terms and Conditions</h1>
    <p>Terms and Conditions of trdsdigital.com!</p>
    <p>Below are the Terms and Conditions for use of https://trdsdigital.com/. Please read these carefully. If you need to contact us regarding any aspect of the following terms of use of our website, please contact us at trdsdigital@gmail.com</p>
    <p>By accessing the content of trdsdigital.com ( hereafter referred to as website ) you agree to the terms and conditions set out herein and also accept our privacy policy. If you do not agree to any of the terms and conditions you should not continue to use the website and leave immediately.</p>
    <p>You agree that you shall not use the website for any illegal purposes and that you will respect all applicable laws and regulations.</p>
    <p>You agree not to use trdsdigital.com website in a way that may impair the performance, corrupt or manipulate the content or information available on the website or reduce the overall functionality of the website.</p>
    <p>You agree not to compromise the security of the website or attempt to gain access to secured areas of the website or attempt to access any sensitive information you may believe exist on the website or server where it is hosted.</p>
    <p>You agree to be fully responsible for any claim, expense, losses, liability, costs including legal fees incurred by us arising from any infringement of the terms and conditions in this agreement and to which you will have agreed if you continue to use the website.</p>
    <p>The reproduction, distribution in any method whether online or offline is strictly not prohibited. The work on the website and the images, logos, text and other such information are the property of https://trdsdigital.com/ ( unless otherwise stated ).</p>
    <p>Disclaimer</p>
    <p>Though we strive to be completely accurate in the information that is presented on our site and attempt to keep it as up to date as possible, in some cases, some of the information you find on the website may be slightly outdated.</p>
    <p>trdsdigital.com reserves the right to make any modifications or corrections to the information you find on the website at any time without notice.</p>
    <p>Change to the Terms and Conditions of Use</p>
    <p>We reserve the right to make changes and to revise the above-mentioned Terms and Conditions of use.</p>
  </div>
</template>