<template>
  <v-card class="mt-4">
    <v-list-item>
      <v-list-item-avatar color="blue-grey">
        <v-icon color="white">mdi-information</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="headline">{{$t('app.title')}}</v-list-item-title>
        <v-list-item-subtitle>{{$t('app.subtitle')}}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-divider class="mx-4"></v-divider>
    <div class="ma-4 pb-5 text-justify">
      <div v-if="locale == 'pt-BR'">
        <h2 id="para-que">Para que usar repetições</h2>
        <p>“O caminho para a transformação é a repetição das palavras. As palavras têm um impacto imenso sobre nossas vidas – mas geralmente, só utilizamos este poder oculto contra nós mesmos. Vivemos repetindo frases sobre nossa incapacidade – como a que acaba de me dizer. Ao invés de comentar com todos as suas limitações, comece a repetir o quanto é capaz. E terminará conseguindo o que quer”. (Paulo Coelho)</p>

        <p>Ao praticar repetições diárias de frases, é possível modificar a realidade em que vivemos. Podendo-se praticar as repetições quantas vezes você achar necessário.</p>

        <p>Além de ajudar estudantes a decorar nomes, datas e toda qualquer parte do estudo que necessita mais do que entendimento da matéria.</p>

        <p>Muito utilizado para o desenvolvimento pessoal, fazer afirmações de palavras e frases repetidas vezes, é um método bastante conhecido para o desenvolvimento pessoal, recomendado por diversos especialistas.</p>

        <p>Através das repetições podemos mudar nossa forma de pensar e agir fortalecendo esse pensamento no subconsciente.</p>

        <p>Na Índia, estudiosos da filosofia Sankalpa acreditam que a repetição pode mudar sua vida ao repetir uma frase curta, quase telegráfica, mas repleta de significado, composta por afirmações breves, positivas, objetivas e no momento presente.</p>

        <p>Terapeutas quânticos também indicam repetições diárias de frases, que transformarão sua realidade com essa prática. Ao repetir um processo verbal, uma pergunta ou uma frase aclaradora, você se abre para infinitas possibilidades, cria mais espaço, limpa crenças e padrões limitantes.</p>

        <h2 id="o-q-eh">O que é</h2>

        <p>O Tuas Repetições Diárias é um aplicativo que traz praticidade e facilidade para a rotina de suas repetições, em qualquer área de desenvolvimento pessoal, profissional ou religioso. Com ele, basta incluir suas frases, palavras, datas ou o que precisar, que ele te ajudará a controlar as repetições conforme você as realiza com praticidade, exatidão e facilidade.</p>

        <h2 id="como-usar">Como usar</h2>

        <p>Ao término de cada frase ele automaticamente te leva para a próxima e ao término de todas ele registra na tela para você ter evidente o objetivo alcançado.</p>

        <p>Este aplicativo on-line armazena suas frases dentro do seu dispositivo, para que você tenha total privacidade para suas repetições. Mas toda essa privacidade traz uma grande responsabilidade para você, porque se você não fizer o backup de suas frases, você as perderá ao trocar de dispositivo ou limpar os dados do aplicativo/navegador.</p>

        <p>Com isso não é necessário a criação de usuário e senha nem uso do seu endereço de e-mail, nós não rastreamos seus dados, aqui você é livre e incógnito, este aplicativo não armazena nada em seus servidores online.</p>

        <h2 id="como-suriu-a-ideia">Como surgiu a idéia</h2>

        <p>Se você, como eu, possui o hábito de fazer repetições diárias, com certeza já deve ter passado por situações onde perdeu a contagem nos dedos, ou esqueceu/confundiu em que número estava ou ainda dormiu durante a prática.</p>

        <p>Dessa forma, visando ter mais facilidade e leveza nas práticas, criamos esse aplicativo.</p>
      </div>
      <div v-else>
        <h2 id="para-que">Repetitions for what</h2>

        <p>“The path to transformation is the repetition of words. Words have an immense impact on our lives - but generally, we only use this hidden power against ourselves. We keep repeating phrases about our disability - like the one you just told me. Instead of starting with all your limitations, start repeating as much as you can. And you will end up getting what you want ”. (Paulo Coelho)</p>

        <p>By practicing daily repetition of phrases, it is possible to modify the reality in which we live. You can practice the repetitions as many times as you think necessary.</p>

        <p>It can help students to memorize names, dates, formulas and any part of the study that requires more than an understanding of the subject.</p>

        <p>Widely used for personal development, making statements of words and phrases repeatedly, is a well-known method for personal development, recommended by several experts.</p>

        <p>Through repetitions we can change the way we think and act, strengthening that thought in the subconscious.</p>

        <p>In India, scholars of Sankalpa philosophy believe that repetition can change your life by repeating a short, almost telegraphic yet meaningful sentence, made up of brief, positive, objective and present statements.</p>

        <p>Quantum therapists also indicate daily repetition of phrases, which will transform your reality with this practice. By repeating a verbal process, a question or a clearing sentence, you open yourself up to infinite possibilities, create more space, clear beliefs and limiting patterns.</p>

        <h2 id="o-q-eh">What is</h2>

        <p>TrackRepDailys is an application that brings practicality and ease to the routine of your repetitions, in any area of personal, professional or religious development. With it, just include your phrases, words, dates or whatever you need, it will help you control repetitions as you perform them with practicality, accuracy and ease.</p>

        <h2 id="como-usar">How to use</h2>

        <p>At the end of each sentence it automatically takes you to the next one and at the end of all it records on the screen for you to have the objective achieved evident.</p>

        <p>This online application stores your phrases inside your device, so that you have complete privacy for your repetitions. But all this privacy brings a great responsibility to you, because if you do not back up your phrases, you will lose them when changing devices or clearing the application/browser data.</p>

        <p>It is not necessary to create a username and password or use your e-mail address, we do not track your data, here you are free and incognito, this application does not store anything on it’s online servers.</p>

        <h2 id="como-suriu-a-ideia">How the idea came about</h2>

        <p>If you, like me, have the habit of doing daily repetitions, surely you must have already gone through situations where you lost count on your fingers, or forgot/confused what number you were in or even slept during practice.</p>

        <p>Thus, in order to have more ease and lightness in practices, we created this application.</p>
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "web-content",
  props: ["locale"]
};
</script>

<style>
</style>