<template>
  <v-app>
    <v-app-bar app color="amber" src="img/bg/phacelia-5138757_1920.jpg">
      <template v-slot:img="{ props }">
        <v-img v-bind="props" gradient="to top right, rgba(255,193,7,1), rgba(255,193,7,.5)"></v-img>
      </template>
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
      <v-toolbar-title class="pl-1" to="/">{{$t('app.title')}}</v-toolbar-title>
      <v-divider class="mx-2" vertical></v-divider>
      <v-btn icon @click="resetAllCounting()" :title="$t('menu.resetAllCards')">
        <v-icon>mdi-database-refresh</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" temporary app>
      <v-list nav>
        <v-list-item to="/">
          <v-list-item-icon>
            <v-icon>mdi-card</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{$t('menu.cards')}}</v-list-item-title>
        </v-list-item>
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-flag</v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            <v-select
              dense
              hide-details
              single-line
              menu-props="auto"
              v-model="locale"
              :items="languages"
              item-key="key"
              item-text="key"
              :label="$t('menu.languages')"
            >
              <template v-slot:selection="{ item }">
                <span class="flag" :class="item.flagIcon"></span>
              </template>
              <template v-slot:item="{ item }">
                <span class="flag" :class="item.flagIcon" :title="item.name"></span>
              </template>
            </v-select>
          </v-list-item-title>
        </v-list-item>
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-format-size</v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            <v-select
              dense
              hide-details
              single-line
              menu-props="auto"
              v-model="cardTextFontSize"
              :items="cardTextFontSizeOptions"
              item-key="key"
              item-text="key"
              :label="$t('menu.cardTextFontSize')"
            >
              <template v-slot:selection="{ item }">
                <span>{{item.text}} - A b c</span>
              </template>
              <template v-slot:item="{ item }">
                <span :class="item.key">{{item.text}} - A b c</span>
              </template>
            </v-select>
          </v-list-item-title>
        </v-list-item>
        <v-list-item to="reorder-cards">
          <v-list-item-icon>
            <v-icon>mdi-order-numeric-ascending</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{$t('menu.reorderCards')}}</v-list-item-title>
        </v-list-item>
        <v-list-item @click.prevent="drawer=false; exportItems();">
          <v-list-item-icon>
            <v-icon>mdi-database-export</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{$t('menu.exportCards')}}</v-list-item-title>
        </v-list-item>
        <v-list-item to="import-items">
          <v-list-item-icon>
            <v-icon>mdi-database-import</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{$t('menu.importCards')}}</v-list-item-title>
        </v-list-item>
        <!-- <v-list-item @click="drawer=false; shareCard();">
          <v-list-item-icon>
            <v-icon>mdi-share-variant</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{$t('menu.shareCard')}}</v-list-item-title>
        </v-list-item>-->
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <v-container fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <router-view />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <v-bottom-navigation>
      <v-btn to="about">
        <span>About Us</span>
      </v-btn>

      <v-btn to="terms-and-conditions">
        <span>Terms &amp; Conditions</span>
      </v-btn>

      <v-btn>
        <span>Contact Us</span>
      </v-btn>
    </v-bottom-navigation>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      drawer: false,
      languages: [
        { key: "pt-BR", name: "Português Brasileiro", flagIcon: "flag-br" },
        { key: "en-US", name: "US English", flagIcon: "flag-us" }
      ],
      locale: this.$i18n.locale,
      cardTextFontSize:
        localStorage.getItem("cardTextFontSize") || "card-text-font-size-1",
      cardTextFontSizeOptions: [
        { key: "card-text-font-size-1", text: "1" },
        { key: "card-text-font-size-2", text: "2" },
        { key: "card-text-font-size-3", text: "3" }
      ],
    };
  },
  watch: {
    locale: function(value) {
      this.$i18n.locale = value;
      localStorage.setItem("lang", value);
    },
    cardTextFontSize: function(value) {
      localStorage.setItem("cardTextFontSize", value);
    }
  },
  methods: {
    exportItems() {
      if (localStorage.cards) {
        const itemsStr = JSON.stringify(localStorage.getItem("cards"));
        const itemsBTOA = window.btoa(itemsStr);
        const filename = "card-counter-backup.txt";

        let blob = new Blob([itemsBTOA], { type: "text/plain" });
        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, filename);
        } else {
          let link = document.createElement("a");
          if (link.download !== undefined) {
            let url = URL.createObjectURL(blob);
            link.setAttribute("href", url);
            link.setAttribute("download", filename);
            link.style.visibility = "hidden";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          }
        }
      } else {
        this.$swal({
          icon: "warning",
          text: this.$t("messages.noCardsAvailable"),
          animation: true,
          showConfirmButton: true,
          confirmButtonColor: "#607d8b"
        });
      }
    },
    resetAllCounting() {
      if (localStorage.cards) {
        const items = JSON.parse(localStorage.getItem("cards"));
        if (items){
          items.forEach(item => item.item.count = 0);
          this.$emit("onItemsChange", items);
        }
      }
    },
  }
};
</script>

<style lang="scss">
.flag {
  width: 2em;
  height: 2em;
}

.flag-br {
  background-image: url("../public/img/flags/br.svg");
}

.flag-us {
  background-image: url("../public/img/flags/us.svg");
}

.card-text-font-size-1 {
  font-size: initial;
}

.card-text-font-size-2 {
  font-size: large;
  line-height: 1.5em;
}

.card-text-font-size-3 {
  font-size: x-large;
  line-height: 1.5em;
}
</style>
